@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* SCROLLBAR OF BODY */

/* width */
body::-webkit-scrollbar {
  width: 15px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #a7a7a75d;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, red, rgb(0, 110, 255));
  /* background: rgba(255, 255, 255, 0.623); */
  border-radius: 50px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 32, 32),
    rgb(16, 120, 255)
  );
  /* background: rgba(255, 255, 255, 0.842); */
}

header {
  background-color: #373b69;
  padding: 1.5rem;
}

header img {
  height: 60px;
  padding-right: 1rem;
}
h1 {
  font-family: "Lobster", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 45px;
}
form {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: #22254b;
}

.search {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid #22254b;
  font-family: inherit;
  font-size: 1rem;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  /* to place all cards in center of the screen */
  justify-content: center;
}
.movie {
  background-color: #373b69;
  border-radius: 20px;
  box-shadow: 13px 13px 8px rgba(0, 0, 0, 0.5);
  width: 250px;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1.5rem 0.5rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(96, 202, 96);
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: rgb(211, 79, 79);
}

.overview {
  /* added the glassmorphism effect to the card */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;

  /* given fixed height to every block so that it would look even in all cards. */
  height: 50%;

  padding: 2rem;
  position: absolute;
  /* max-height: 80%; */
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

/* SCROLL-BAR */

/* width */
.overview::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.overview::-webkit-scrollbar-track {
  background: #a7a7a75d;
}

/* Handle */
.overview::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.623);
  border-radius: 50px;
}

/* Handle on hover */
.overview::-webkit-scrollbar-thumb:hover {
  background: rgba(7, 7, 7, 0.404);
}

.overview h3 {
  margin-top: 0;
  margin-bottom: 1px;
}
.movie:hover .overview {
  transform: translateY(0);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
  background-color: #222;
}

a {
  color: rgb(219, 114, 114);
  margin-left: 20px;
  cursor: pointer;
}
