@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}


header{
    background-color: #373b69 ;
    padding : 1.5rem; 
}

header img{
    height: 60px;
    padding-right: 1rem;
}
h1{
    font-family: 'Lobster', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 45px;
}
form{
    display: flex;
    justify-content: flex-end;
}

.search::placeholder{
    color: #7378c5;
}

.search:focus{
    outline: none;
    background-color: #22254b;
}

.search{
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: transparent ;
    border: 2px solid #22254b;
    font-family: inherit;
    font-size: 1rem;
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.movie{
    background-color:#373b69;
    border-radius: 20px;
    box-shadow: 13px 13px 8px rgba(0, 0, 0, 0.5);
    width: 250px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
}


.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1.5rem 0.5rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green{
    color: rgb(96, 202, 96);
}
.movie-info span.orange{
    color:orange;
}
.movie-info span.red{
    color:rgb(211, 79, 79);
}

.overview{
    background-color: rgb(158, 143, 143);
    padding: 2rem;
    position: absolute;
    max-height: 80%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3{
    margin-top: 0;
    margin-bottom: 1px;
}
.movie:hover .overview{
    transform: translateY(0);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
    background-color:#222;
}

a{
    color:  rgb(219, 114, 114);
    margin-left: 20px;
    cursor: pointer;
}