body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
section{ 
    display:flex; 
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#deadff;
    /* background-image: url(../images/snow.png); */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
} 
.container{
    top:70px;
    left: 68px;
    position: absolute;
    width: 80vw;
    margin-left: 2vw;
    height: 72vh;
    background:rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius:20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px;
}
header{
    position: absolute;
    top:-40px;
    right:20px;
    left:20px;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0,0,0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo{
    grid-area: 1/1/2/2;
    color:#6c00c5;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header  ul{
    display: flex;
}
header ul li{ 
    list-style: none;
    margin: 0 10px;
}
header ul li  a{ 
    width:100px; 
    height:50px;
    text-decoration: none;
    font-weight:600;
    padding: 10px;
    color:#6c00c5;
    border-radius: 25px;
} 
.container header ul li .gr1{
    grid-area: 1/2/2/3;
}
.container header ul li .gr2{
    grid-area: 1/3/2/4;
    width:100px; 
    height:30px;
    background:rgb(255, 255, 255); 
    color:#6c00c5;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header ul li .gr3{
    grid-area: 1/4/2/5;
}
header ul li a:hover{ 
    width:100px; 
    height:30px;
    background:rgb(255, 255, 255); 
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content{
    transform: translateX(-100px);
    max-width: 700px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0,0,0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding:20px; 
    height: 60vh;
    padding-left: 110px; 
    margin-top: 50px;
} 
.content h2{
    font-size:2.2vw;
    color:#6c00c5; 
    line-height:4vw;
}
.hidden{
    top: 0;
	left: 0;
	position: relative;
	width: 60vw;
	overflow: hidden;
	height: 7.9vh;
}  
.first{
	top: 0px;
	width: 25vw;
	left: 0px; 
	position: absolute;
	font-size: 3vw;
	color: transparent;
	animation:slide 24s steps(1) infinite;
} 
.second{
	top: 80px;
	width: 26vw;
	left: 0px;
	position: absolute;
	font-size: 3vw;
	color:transparent;
	animation:slide 24s steps(1) infinite;
}
.third{
	top: 160px;
	width: 23vw;
	left: 0px;
	position: absolute;
	font-size: 3vw;
	color:transparent;
	animation:slide 24s steps(1) infinite;
}
.fourth{
	top: 240px;
	width: 20vw;
	left: 0px;
	position: absolute;
	font-size: 3vw;
	color:transparent;
	animation:slide 24s steps(1) infinite;
}
@keyframes slide{
	0%,100%{
		transform: translateY(0px);
	}
	25%{
		transform: translateY(-80px);
	}
	50%{
		transform: translateY(-160px);
	}
	75%{
		transform: translateY(-240px);
	}
}

.first::before{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
    white-space: nowrap;
	color:#ffffff;
	-webkit-text-stroke: 0.08vw #fff;
	border-right: 2px solid #fff;
	overflow: hidden;
	animation: leftright 6s linear infinite;
}
.second::before{
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0;
	width: 0;
	height: 100%;
    white-space: nowrap;
	color: #fff;
	-webkit-text-stroke: 0.08vw #fff;
	border-right: 2px solid #fff;
	overflow: hidden;
	animation: leftright 6s linear infinite;
}
.third::before{
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0;
	width: 0;
	height: 100%;
    white-space: nowrap;
	color: #fff;
	-webkit-text-stroke: 0.08vw #fff;
	border-right: 2px solid #fff;
	overflow: hidden;
	animation: leftright 6s linear infinite;
}
.fourth::before{
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0;
	width: 0;
	height: 100%;
    white-space: nowrap;
	color: #fff;
	-webkit-text-stroke: 0.08vw #fff;
	border-right: 2px solid #fff;
	overflow: hidden;
	animation: leftright 6s linear infinite;
}
@keyframes leftright {
	0%,10%,100%{
		width: 0;
	}
	70%,90%{
		width: 100%;
	}
}

.content p
{
    font-size: 1.1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 2.1vw;
    color:#6c00c5;
    word-spacing: 0.1vw;
}
h3{
    font-size:1.3em;
    color:#6c00c5;
} 
.content a{
    background: transparent;
    color:#6c00c5;
    height:60px;
    margin-top:0px;
    border-radius:30px;
    font-weight: 500;
    border:1px solid rgba(255, 255, 255, 0.5);
    text-decoration: none; 
    margin-left:10px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
}
.imgbx img{
    position: relative;
    width: 20vw;
    height: 80vh;
    animation:animate 5s linear infinite; 
} 
@keyframes animate{
    0%,100%{
        transform:translateY(-60px);
    }
    50%{
        transform:translateY(38px);
    }
}
.sci{
    position:absolute; 
    top:260px;
    right:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.sci li{ 
    list-style: none;
}
.sci li a{ 
    text-decoration: none;
    width:60px;
    height:60px;
    background:rgba(253, 249, 249, 0.37); 
    border-radius: 90%;
    border:1px solid rgba(255, 255, 255, 0.5);
    /* display: flex;
    justify-content:center;
    align-items:center; 
    margin: 5px 0;
    border-radius:50%;
    box-shadow:0 5px 10px rgba(255, 255, 255, 0.5); */

} 
.sci li a img{
    transform:scale(0.6);
    transition: 0.5s;
}
.sci li:hover a img{ 
    transform:scale(0.6) rotate(360deg);
} 
@media screen and (max-width: 1200px){
    .imgbx img {
        position: absolute;
        top:5vh ;
        height: 70vh;
        left: 62vw;
    }
    .content{
        width: 54vw;
    }
    .container{
        width: 75vw;
    } 
    .container header{
        width: 70vw;
    }
    .sci{
        left: 91vw;
    }
}

@media screen and (max-width: 768px){ 
    .imgbx img {
        left: 30vw;
        position: absolute;
        width: 25vw;
        top: 65vw;
        height: 70vh;
        animation: animate 5s linear infinite;
    }
    section{
        height: 164vh;
    }
    .sci li {
        margin-left:1vw ;
    }
    .container{
        width: 70vw;
        height: 130vh;
    }
    .content{
        position: absolute;
        top: 5vh;
        left: 15vw;
        width: 70vw;
        padding-left: 6vw;
        margin-left: 3vh;
    }
    .content h2{
        margin-right: 20vw; 
        margin-top:2vw;
        width:43vw; 
        font-size: 4vw;
        margin-bottom: 0;
    } 
    .content h3{
        margin-bottom: 1vw;
    }
    .hidden{
        height: 7vw;
    }
    .hidden .first,.hidden .second,.hidden .third,.hidden .fourth{
        margin-top: 2vw;
        font-size: 5vw; 
        width: 45vw;
        height: 7vw;
    }
    .content p{
        font-size: 1.7vw;
    }
    .container header{
        width: 64vw;
    }
    .container header .logo{ 
        font-size: 3.4vw;

    }
    .sci{
        flex-direction: row;
        top:148vh ;
        margin: 0vw;
        left: 10vw;
    }
}
@media screen and (max-width: 682px){
    .container{
        top: 10vh;
        left: 5vw;
    }
    .container header ul{
    width:50vw ;
    padding-left: 1vw; 
    font-size: 2.5vw;
    }
    .imgbx img{
        top: 80vw;
        left: 25vw;
        width: 40vw;
        height: 60vh;
    } 
    .hidden{
        font-size: 2vw;
    }
} 
@media screen and (max-width: 600px)
{ 
    .content{
        width: 74.5vw;
    }
    .content p{
        font-size: 14px;
        line-height: 1.5em;
    } 
    .imgbx img{
        top: 90vw;
    }
}
@media screen and (max-width: 560px)
{
    .content{
        margin-left: 5vw;
    } 
    .content{
        width:78vw ;
        margin-left: calc(100% - 84.5vw);
    }
    .container{
        position: absolute;
        top: 10vh;
        left: 3px;
    } 
    .imgbx img{
        top: calc(100% - 87vw);
    }
    .container header{
        width: 70vw;
        padding: 20px calc(100% - 85vw);
    }
}
@media screen and (max-width: 440px)
{
    .container{
       width: 68vw;
    }
    .container header ul li{
        width: 10vw;
    }

}