*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    line-height: 30px;
    letter-spacing: 1.2px;
} 
section{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}
section::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:#03a9f4;

} 
section .container{
    position: relative;
    min-width:1100px;
    min-height:550px;
    display: flex;
    z-index: 1000;
} 
section .container .contactinfo{
    position: absolute;
    top:40px;
    width:350px;
    height:calc(100% - 145px);
    background: #0f3959;
    z-index: 1;
    margin:0px;
    padding:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
} 

section .container .contactinfo h2{
    color:#fff;
    font-size: 24px;
    margin-left: 100px;
    font-weight: 500;
}

section .container .contactinfo .info{
    position:relative;
    margin: 20px 0;
}

section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display:flex;
    margin:30px 0;
    cursor:pointer;
    align-items:flex-start;
}
section .container .contactinfo .info li span:nth-child(1){
    width:30px;
    min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter:invert(1);
    opacity:0.5;
}
section .container .contactinfo .info li span:nth-child(2){
    color:#fff;
    margin-left: 10px;
    font-weight: 300;
    opacity:0.5;
} 
section .container .contactinfo .info li:hover span:nth-child(1) img,section .container .contactinfo .info li:hover span:nth-child(2){
    opacity:1; 
}

section .container .contactinfo .sci{
    position:relative;
    display:flex;
}

section .container .contactinfo .sci li{
    list-style:none;
    margin-right: 15px;
}

section .container .contactinfo .sci li a{
    text-decoration: none;

} 

section .container .contactinfo .sci li a img{
    filter:invert(1);
    opacity: 0.5;
}

section .container .contactinfo .sci li:hover a img{
    opacity: 1;
} 

section .container .contactForm {
    position:absolute;
    padding:70px 50px;
    background: #fff;
    margin-left:150px;
    padding-left:320px;
    width:calc(100% - 500px);
    height:78%;
    box-shadow:0 50px 50px rgba(0, 0, 0, 0.5);
} 

section .container .contactForm h2{
    color:#0f3959;
    font-size: 24px;
    font-weight: 500;
} 

section .container .contactForm .formBox{
    position:relative;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .contactForm .formBox .inputBox{
    position:relative;
    margin: 0 0 35px 0;

} 

section .container .contactForm .formBox .inputBox.w50{
    width:47%;

}

section .container .contactForm .formBox .inputBox.w100{
    width:100%;
    
} 
section .container .contactForm .formBox .inputBox input,section .container .contactForm .formBox .inputBox textarea{
    width:100% !important;
    padding:5px 0;
    font-size: 18px;
    font-weight: 300;
    resize: none;
    color:#333;
    border:none;
    border-bottom: 1px solid #777 ;
    outline:none;
} 
section .container .contactForm .formBox .inputBox textarea{
    min-height: 120px; 
}
section .container .contactForm .formBox .inputBox span{
    position:absolute;
    left:0;
    padding:5px 0;
    font-size: 18px;
    font-weight: 300;
    color:#333;
    transition: 0.3s;
    pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,section .container .contactForm .formBox .inputBox textarea:focus ~ span ,section .container .contactForm .formBox .inputBox input:valid ~ span,section .container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform:translateY(-20px);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#ff568c;
}

section .container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color:#fff;
    border:none;
    max-width: 150px;
    padding:12px;
    margin-left: 200px;
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background:#ff568c;
} 

@media (max-width: 1100px){ 
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins',sans-serif;
        line-height: 3vw;
        letter-spacing: 0.05vw;
    }
    body{
        width: 100%;
        margin: 0px;
        font-size: 3vw;
    }
    section .container {
        position: absolute;
        width: 70vw;
        height: 80vh;
        display: flex;
        top: 5vh;
        z-index: 1000;
        left: 5vw;
    }  
    section .container .contactinfo {
        position: absolute;
        top: 3vw;
        width: 35vw;
        height: 70vh;
        background: #0f3959;
        z-index: 1;
        margin: 1vw;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 20px 20px rgb(0 0 0 / 20%);
    }
    section .container .contactinfo h2 {
        color: #fff;
        padding-top: 1vh;
        margin-left:0;
        font-size: 4vw; 
        padding-left: 1vw;
        font-weight: 500;
    }
    section .container .contactinfo .info {
        position: relative;
        margin: 6vw 0;
    }
    section .container .contactinfo .info li {
        position: relative;
        list-style: none;
        display: flex;
        margin: 3vw 0;
        cursor: pointer;
        align-items: flex-start;
    }
    section .container .contactinfo .info li span:nth-child(2) {
        color: #fff;
        margin-left: 10px;
        font-weight: 300;
        font-size: 2vw;
        opacity: 0.5;
    }
    section .container .contactinfo .sci {
        position: relative;
        display: flex;
    }
    section .container .contactinfo .sci li {
        list-style: none;
        margin-right: 1vw;
        width: 8vw;
    } 
    section .container .contactForm {
        position: absolute;
        padding: 8vh 8vw;
        background: #fff;
        margin-left: 24vw;
        padding-left: 20vw;
        width: 38vw;
        height: 74vh;
        box-shadow: 0 50px 50px rgb(0 0 0 / 50%);
    } 
    section .container .contactForm h2 {
        color: #0f3959;
        font-size: 4vw;
        padding-left: 5vw;
        padding-top: 2vh;
        font-weight: 500;
    }
    section .container .contactForm .formBox {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20%;
        padding-left: 5%;
    }
    section .container .contactForm .formBox .inputBox {
        position: relative;
        margin: 0 0 5vh 0;
    }
    section .container .contactForm .formBox .inputBox.w50 {
        width: 15vw;
    } 
    section .container .contactForm .formBox .inputBox.w100 {
        width: 50vw;
    } 
    section .container .contactForm .formBox .inputBox input[type="submit"] {
        position: relative;
        cursor: pointer;
        background: #0f3959;
        color: #fff;
        border: none;
        font-size: 8vw;
        max-width: 16vw; 
        margin-left: 2vw;
        padding: 1.2vw;
    }
    section .container .contactForm .formBox .inputBox input, section .container .contactForm .formBox .inputBox textarea {
        width: 100% !important;
        padding: 5px 0;
        font-size: 18px;
        font-weight: 300;
        resize: none;
        color: #333;
        border: none;
        border-bottom: 1px solid #777;
        outline: none;
    }
    section .container .contactForm .formBox .inputBox span {
        position: absolute;
        left: 0;
        padding: 2vh 0;
        font-size: 2vw;
        font-weight: 300;
        color: #333;
        transition: 0.3s;
        pointer-events: none;
    }
    section .container .contactForm h2 {
        color: #0f3959;
        font-size: 4vw;
        padding-left: 5vw;
        padding-top: 2vh;
        font-weight: 500;
    }
}